#contact-form
  .o--SupportRequestForm--supportRequestForm
  > .o--SectionGroup--sectionGroup {
  display: none;
}

#contact-form
  .o--SupportRequestForm--supportRequestForm
  form
  > div:nth-child(2) {
  display: none;
}

#contact-form .o--Widget--widget .o--Button--btn {
  width: 100%;
}
