/* Outseta CSS variable overrides */ div {
  /* Semantic Colors */
  --accent-color: var(--chakra-colors-primary-solid) !important;
  --color: var(--chakra-colors-primary-solid);
  --color-bg: var(--chakra-colors-bg) !important;
  --dark-mode-bg-color: var(--chakra-colors-bg) !important;
  --color-danger: var(--chakra-colors-fg-error) !important;

  /* Neutral Colors */
  --color-coal: var(--chakra-colors-bg-emphasized) !important;
  --color-coal-dark: rgba(255, 255, 255, 0.2);
  --color-slate: var(--chakra-colors-bg-muted) !important;
  --color-slate-dark: var(--chakra-colors-bg-muted) !important;
  --color-granite: var(--chakra-colors-bg-muted) !important;
  --color-granite-dark: var(--chakra-colors-bg-emphasized) !important;
  --color-concrete: rgba(0, 0, 0, 0.02);
  --color-concrete-dark: rgba(255, 255, 255, 0.02);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-white-10: rgba(255, 255, 255, 0.1);

  /* Text Colors */
  --color-text: var(--chakra-colors-fg) !important;
  --color-text-secondary: var(--chakra-colors-fg-subtle) !important;
  --color-text-disabled: var(--chakra-colors-fg-subtle) !important;
  --color-text-dark: var(--chakra-colors-fg-subtle) !important;
  --color-text-secondary-dark: var(--chakra-colors-fg-subtle) !important;
  --color-text-disabled-dark: var(--chakra-colors-fg-subtle) !important;

  /* Typography */
  --font-family: var(--chakra-fonts-body) !important;
  --font-size: var(--chakra-font-sizes-md) !important;
  --font-size-sm: var(--chakra-font-sizes-sm) !important;
  --font-size-xs: var(--chakra-font-sizes-xs) !important;
  --weight-bold: var(--chakra-font-weights-bold) !important;
  --line-height: 1.428572;

  /* Styling */
  --opacity-disabled: 0.5 !important;
  --shadow-input: none !important;
  --radius-round: var(--chakra-radii-l2) !important;

  /* Spacing */
  --element-padding-v: var(--chakra-spacing-2) !important;
  --element-padding-h: var(--chakra-spacing-3) !important;
}

/* Button */
.o--Widget--widget .o--Button--btn:hover {
  box-shadow: none !important;
  opacity: 0.9 !important;
}

/* Error messages */
.o--Widget--widget .o--ErrorMessages--errorMessages {
  background-color: var(--chakra-colors-fg-error) !important;
  color: var(--chakra-colors-fg-inverted) !important;
}

/* Labels */
.o--Widget--widget label.o--Label--displayMode-light,
.o--Widget--widget label.o--Label--displayMode-auto,
.o--Widget--widget label.o--Label--displayMode-dark {
  color: var(--chakra-colors-fg) !important;
}

/* Chat */
#o--Trigger--unreadCount {
  background: var(--chakra-colors-fg-error) !important;
  border-radius: 100% !important;
  color: var(--chakra-colors-fg-inverted) !important;
  height: 24px !important;
  width: 24px !important;
  left: 6px !important;
  top: 6px !important;
}

.o--Trigger--trigger {
  width: 64px !important;
  height: 64px !important;
  overflow: visible !important;
  right: 24px !important;
  bottom: 24px !important;
}

/* Change Plan */
.o--Widget--widget .o--PlanSelector--planSelector
  ul.o--PlanSelector--planList
  li.o--PlanSelector--planListItem {
  border-width: 2px !important;
}
/* Fix weird button styles */
/* TODO: Make disabled buttons better */
